<!-- Header -->
<div class="jumbotron jumbobackground mb-0" id="espanol_bg"">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Ofrecemos Servicios en Español</strong></h2>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ContactForm">
        Contactenos!
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ContactForm" tabindex="-1" role="dialog" aria-labelledby="ContactFormLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ContactFormLabel">Contactenos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', lead: @lead %>
      </div>
    </div>
  </div>
</div>

<!-- Content -->
<div class="container justicia mt-5 mb-5">
  <p><strong>Acceso a Justicia</strong> (A2J) es la puerta a los servicios legales en espa&ntilde;ol en Canad&aacute; para personas y empresas.&nbsp; Es un proceso corto, con pasos valiosos de recolecci&oacute;n de informaci&oacute;n y referencia concreta.&nbsp; Es confidencial, seguro, amigable y personalizado.&nbsp; Est&aacute; limitado a la organizaci&oacute;n de la informaci&oacute;n y la ubicaci&oacute;n de proveedores de servicios legales apropiados a las necesidades y objetivos.</p>
  <p>Asegurar los servicios de un(a) abogada(o) o paralegal puede ser angustioso, confuso y abrumador: &iquest;d&oacute;nde empezar? &iquest;qui&eacute;n ofrece los servicios que necesito? &iquest;Cu&aacute;les son los servicios legales que necesito? La frustraci&oacute;n te puede debilitar y hacerte desistir.&nbsp; O llegas a un proveedor que termina con un &ldquo;yo no practico esa &aacute;rea&rdquo; y no tiene la capacidad operativa para darte una referencia concreta, haci&eacute;ndote comenzar de nuevo.</p>
  <p>A2J est&aacute; dise&ntilde;ado para reducir la frustraci&oacute;n de la b&uacute;squeda de soluciones legales y acelerar el enganche de un proveedor de servicios legales apropiado.&nbsp; Las preguntas comunes que A2J puede responder:</p>
  <ul>
  <li>&iquest;Necesito a un abogado o a un paralegal?</li>
  <li>&iquest;Qu&eacute; tipo de proveedor de servicio legal necesito?</li>
  <li>&iquest;D&oacute;nde puedo encontrar a los abogados/paralegales que me puedan ayudar en mi caso?</li>
  <li>&iquest;Me puede referir a un profesional que considere llevar mi caso?</li>
  <li>&iquest;Cu&aacute;les son los costos que debo considerar si contrato a un abogado/paralegal?</li>
  <li>&iquest;Cu&aacute;nto tiempo tardar&iacute;a en resolver mi caso?&nbsp;&nbsp;</li>
  <li>&iquest;Se encarga el gobierno de este asunto?</li>
  </ul>
  <p>&nbsp;</p>
  <p>Si quieres saber m&aacute;s de este servicio comun&iacute;cate con nosotros a trav&eacute;s de <%= mail_to "antonio@workplacelegal.ca" %> o <a href="tel:+1-647-381-5323">(647) 381-5323</a>, sin ning&uacute;n compromiso.</p>
</div>
