<!-- Header -->
<div class="" id="main_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="jumbotron jumbotron-fluid h-100 bg-transparent">
          <div class="container">
            <h1 class="display-4 text-white">Workplace Legal</h1>
            <p class="lead text-white">Welcome to your door to commercially sound workplace legal services that empower
              leaders, business owners, managers, supervisors and human resources professionals to control
              the inherent threats of employee relations by providing innovative training and compliance-
              coaching, advise, representation, and conducting recyclable investigations, to substantially
              reduce claims, grievances and lawsuits and improve workplace climate.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Contact Us</h2>
            <hr>
            <%= render 'form', lead: @lead %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>What do you want to achieve?</h2>
        <hr>
        <ul>
          <li>Legally sound management of employees’ expectations;</li>
          <li>Faster on-point decisions that prevent legal claims;</li>
          <li>Improved communication between employees, supervisors, managers and
            human resources professionals;</li>
            <li>Receive lawyer’s services with a coaching style.</li>
        </ul>
        <a class="btn btn-primary btn-lg" href="#">Contact Us &raquo;</a>
      </div>
    </div>
  </div>
