<!-- Header -->
<div class="row">
  <div class="col-12">
    <div class="jumbotron jumbobackground" id="main_bg"">
      <div class="text-white text-center py-5 px-4 my-5 main-message-text">
        <div class="container punch-line">
            <h1 class="card-title display-3 line anim-typewriter"><strong>Workplace Legal</strong></h1>
            <hr class="title-line">
            <h2 class="mb-4 lead">Build Wealthier & Healthier Workplaces</h2>
            <h2 class="mb-4 lead">& Save the World.</h2>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ContactForm">
            Contact Us!
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="container main-form">
    <p><strong>Contact Us:</strong></p>
    <%= render 'form', lead: @lead %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ContactForm" tabindex="-1" role="dialog" aria-labelledby="ContactFormLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ContactFormLabel">Contact Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', lead: @lead %>
      </div>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="container mb-5">
      <div class="container text-left">
        <p class="mx-5 mb-5 mt-5 lead">Workplace Legal is an innovative and fit-for-purpose legal services&rsquo; framework, focused on employment
          and labour relations, and designed to empower business leaders, entrepreneurs, managers, supervisors and human
          resources professionals to reduce the inherent legal threats in workplace interactions by providing creative training,
          advising, investigating and legal representation.
        </p>
        <p class="mx-5 mb-5 lead">Workplace Legal's data-oriented workplace investigations and coaching-styled legal information delivery, litigation
          and advisory services are designed to improve the work climate and leverage the legal system to shape wealthy and
          healthy workplaces, procuring a positive lifetime experience with the law in and around the workplace.
        </p>

        <h2 class="text-center">Do you want to experience and build?</h2>
        <br>
        <ul class="main-content text-left lead">
          <li>Improve the work climate;</li>
          <li>Coaching-styled delivery of lawyer’s services;</li>
          <li>Modular, creative, bite size, scalable and data-driven legal services;</li>
          <li>Legally sound management of your employees’ expectations;</li>
          <li>Better employees’ experience to reduce the chances of claims and lawsuits.</li>
        </ul>
        <div class="container text-center">
          <button type="button" class="btn btn-primary main-content-btn" data-toggle="modal" data-target="#ContactForm">
            Contact Us!
          </button>
        </div>
      </div>
</div>
