<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @lead.first_name %></h1>
    <p>
      Thank you for getting in touch, one of our experts will be reviewing your request and will get in touch with you soon.
    </p>
    <p>
      Regards
    </p>
    <p>
      Antonio F. Urdaneta, LL.M.
    </p>
    <p>
      Workplace Lawyer, Investigator & Compliance Coach
    </p>
    <p>
      P:  1 6473815323  E:    <%= mail_to "antonio@inventorlegal.ca" %> |
      330 Bay Street, Suite 1400, Toronto, ON M5H 2S8
      www.workplacelegal.ca
    </p>

  </body>
</html>
