<!-- Header -->
<div class="jumbotron jumbobackground" id="terms_bg"">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h1 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Website Terms of Use</strong></h1>
    </div>
  </div>
</div>



<h1>TermsOfUse#index</h1>
<p>Find me in app/views/terms_of_use/index.html.erb</p>
