<!-- Header -->
<div class="jumbotron jumbobackground" id="terms_bg"">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h1 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Website Terms of Use</strong></h1>
    </div>
  </div>
</div>
<div class="container terms mt-5 mb-5">
  <p>Workplacelegal.ca may upload or post articles, publications, information, data, links and other materials (&lsquo;Information&rsquo;) provided to you subject to your compliance with these terms and conditions of use (&lsquo;Conditions&rsquo;). If you do not want to be bound by these Conditions, please do not access/use workplacelegal.ca</p>
  <p>Your use of workplacelegal.ca may facilitate access to legal services by way of e-mail (or other communication) via workplacelegal.ca. Neither receipt of communications by workplacelegal.ca nor your use of workplacelegal.ca creates a lawyer-client relationship.</p>
  <p>Workplacelegal.ca does not guarantee the confidentiality of any communications made by you via e-mail or otherwise through workplacelegal.ca and cannot guarantee that any such communications are protected by solicitor-client privilege.&nbsp; If you wish to provide information of a confidential or sensitive nature to workplacelegal.ca, please contact workplacelegal.ca directly by telephone.</p>
  <h3><strong>Disclaimer &amp; Limitation of Liability</strong></h3>
  <p>The Information should not be relied upon as accurate, timely or fit for any particular purpose. Information is provided solely for informational purposes. It is not intended to be legal or other professional advice or an opinion of any kind. You are advised to seek specific legal advice by contacting workplacelegal.ca (or your own lawyer or paralegal) in relation to your specific legal issues.</p>
  <p>Workplacelegal.ca and the Information are given &ldquo;AS IS&rdquo; without warranties of any kind.&nbsp; Use workplacelegal.ca and the Information at your own risk. Workplacelegal.ca does not assume any responsibility for any errors, omissions or inaccuracies in workplacelegal.ca and the Information.&nbsp; Workplacelegal.ca, in no event, will be liable, for any damage cause to you or any third party in consequence of your use of workplacelegal.ca.</p>
  <h3><strong>No Unlawful or Prohibited Use, Ownership &amp; Third Parties&rsquo; links. </strong></h3>
  <p>You agree not to use workplacelegal.ca and the Information for purposes other than your own personal non-commercial use. You agree that you will not use workplacelegal.ca for any purpose that is unlawful. Any exploitation of workplacelegal.ca is prohibited and you are not allowed to reproduce, retransmit, distribute, sell, republish, modify, translate or create derivative works based on workplacelegal.ca or the Information, in whole or in part, including reverse engineering or any other process.</p>
  <p>The Information, which includes but is in no way limited to content, designs, graphics, pictures, video and logos displayed on workplacelegal.ca or in the Information are owned by workplacelegal.ca and are protected by copyright, trademark and any other local, national and global intellectual property laws.</p>
  <p>Workplacelegal.ca nor endorses the information contained in links to third party web sites, neither guarantees their quality, accuracy, reliability, currency, non-infringement or fitness for any purpose, and cannot control those links, and if you choose to access those, you do so entirely at your own risk.</p>
  <h3><strong>Jurisdiction. Entire Agreement. </strong></h3>
  <p>The Conditions are governed by the laws of Ontario and the applicable laws of Canada.&nbsp; These laws apply to the use of workplacelegal.ca or the Information by you, notwithstanding your domicile, residency or physical location. Workplacelegal.ca and the Information are intended for use only in jurisdictions where it may lawfully be offered for use.</p>
  <p>The Conditions constitute the entire agreement between workplacelegal.ca and you about the use of workplacelegal.ca and the Information.&nbsp; The Conditions supersedes all prior or contemporaneous agreements between you and workplacelegal.ca with respect to workplacelegal.ca.</p>
  <p>Workplacelegal.ca reserves the right to change these Conditions at any time and your continued access to or use of workplacelegal.ca after such changes indicates your acceptance of these Conditions as modified.&nbsp; It is your responsibility to review these Conditions regularly.</p>
  <p>Workplacelegal.ca's failure to insist upon or enforce strict performance of any provision of these Conditions shall not be construed as a waiver of any provisions or right. If any of the provisions contained in the Conditions are determined to be void, invalid or otherwise unenforceable by a court of competent jurisdiction, such determination shall not affect the remaining provisions contained herein.</p>
  <h3><strong>Viruses</strong></h3>
  <p>Workplacelegal.ca does not guarantee that workplacelegal.ca or the Information are compatible with your computer systems or that workplacelegal.ca or the Information will be free of viruses or other code that contaminate or destruct properties.&nbsp; You are responsible for keeping your computer system secure and for the entire cost of any service, repairs that you may need to incur in connection with your computer system, which may be necessary as a result of your use of workplacelegal.ca</p>
  <p>&copy; 2019 workplacelegal.ca All rights reserved.</p>
</div>
