<div class="jumbotron jumbotron-fluid bg-secondary m-0">
  <div class="container">
    <h1 class="display-4 text-white">About Workplace Legal</h1>
    <p class="lead text-white">
      Workplace Lawyer, Antonio F. Urdaneta <strong>advises and represents employers and
      employees</strong> about and/in employment standards, human rights, health and safety, pay equity,
      harassment, discrimination, violence, hazards, privacy, BYOD, agreements, contracts and
      policies, employment related ADRs (mediation, arbitration), and litigation (wrongful/constructive
      dismissals). He has successfully represented and assisted clients at the Superior Court of
      Justice and administrative tribunals.
    </p>
    <p class="lead text-white">
      He <strong>conducts workplace investigations</strong> about allegations of violence, harassment,
      discrimination, accidents/incidents, theft and failure to comply with company policies, by-laws
      and collective agreements.
    </p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid bg-white m-0">
  <div class="container">
    <h1 class="display-4">Mission</h1>
    <p class="lead">“To leverage the legal system to shape wealthy and healthy workplaces”</p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid bg-secondary m-0">
  <div class="container">
    <h1 class="display-4 text-white">Vision</h1>
    <p class="lead text-white">“A pleasant lifetime experience with the law at the workplace”</p>
  </div>
</div>

<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=330%20Bay%20Street%2C%20Suite%201400%2C%20Toronto%2C%20ON%20M5H%202S8&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
