<div class="jumbotron jumbotron-fluid bg-secondary m-0">
  <div class="container">
    <h1 class="display-4 text-white">About Workplace Legal</h1>
    <p class="lead text-white">
      Workplace Lawyer, Antonio F. Urdaneta <strong>advises and represents employers and
      employees</strong> about and/in employment standards, human rights, health and safety, pay equity,
      harassment, discrimination, violence, hazards, privacy, BYOD, agreements, contracts and
      policies, employment related ADRs (mediation, arbitration), and litigation (wrongful/constructive
      dismissals). He has successfully represented and assisted clients at the Superior Court of
      Justice and administrative tribunals.
    </p>
    <p class="lead text-white">
      He <strong>conducts workplace investigations</strong> about allegations of violence, harassment,
      discrimination, accidents/incidents, theft and failure to comply with company policies, by-laws
      and collective agreements.
    </p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid bg-white m-0">
  <div class="container">
    <h1 class="display-4">Mission</h1>
    <p class="lead">“To leverage the legal system to shape wealthy and healthy workplaces”</p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid bg-secondary m-0">
  <div class="container">
    <h1 class="display-4 text-white">Vision</h1>
    <p class="lead text-white">“A pleasant lifetime experience with the law at the workplace”</p>
  </div>
</div>
