
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #aaa;
$gray-600: #777;
$gray-700: #495057;
$gray-800: #333;
$gray-900: #222;
$black: #000;
$blue: rgba(8, 65, 92, 1);
$indigo: rgba(96, 73, 90, 1);
$purple: rgba(60, 21, 59, 1);
$pink: rgba(203, 176, 151, 1);
$red: rgba(79, 0, 11, 1);
$orange: rgba(174, 102, 58, 1);
$yellow: rgba(212, 175, 55, 1);
$green: rgba(45, 146, 74, 1);
$teal: rgba(137, 189, 158, 1);
$cyan: rgba(145, 144, 152, 1);
$primary: $red;
$secondary: $blue;
$success: $green;
$info: $teal;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
$headings-font-family: 'Source Sans Pro', sans-serif;
$headings-font-weight: 700;
$headings-line-height: 1.1;
$input-btn-padding-x: 1rem;
$navbar-light-color: rgba($black,.7);
$navbar-light-hover-color: $black;
$navbar-light-active-color: $black;
$pagination-hover-color: $white;
$pagination-hover-bg: $primary;
$pagination-hover-border-color: $primary;
$enable-rounded: false;
$enable-responsive-font-sizes: true;
