<footer class="navbar navbar-light bg-light">
  <p>
    <%= link_to "Terms of Use", terms_of_use_index_path %>
  </p>
<address>

  T. <a href="tel:+1-647-381-5323">(647) 381-5323</a> | F. (647) 695-6993 |
  <br>
  <%= mail_to "antonio@workplacelegal.ca" %> |
  <br>
  330 Bay Street, Suite 1400, Toronto, ON M5H 2S8 |
  <br>
  <%= link_to "www.workplacelegal.ca" %>

</address>

</footer>
